<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Part of Phonk http://www.phonk.io
  ~ A prototyping platform for Android devices
  ~
  ~ Copyright (C) 2013 - 2017 Victor Diaz Barrales @victordiaz (Protocoder)
  ~ Copyright (C) 2017 - Victor Diaz Barrales @victordiaz (Phonk)
  ~
  ~ Phonk is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Phonk is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ Yo  u should have received a copy of the GNU General Public License
  ~ along with Phonk. If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest
     xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools"
     package="io.phonk">

    <!-- android:resizeableActivity = "true" -->

    <application
        android:name="io.phonk.App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme = "@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:resizeableActivity="true"
        android:requestLegacyExternalStorage="true"
        >

        <activity
            android:name="io.phonk.LauncherActivity"
            android:label="@string/activity_name"
            android:logo="@drawable/phonk_icon"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:resizeableActivity="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="io.phonk.LauncherActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.HOME"/>-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--android:stateNotNeeded="true"-->
        <activity
            android:name="io.phonk.MainActivity"
            android:icon="@drawable/phonk_icon"
            android:label="@string/activity_name"
            android:logo="@drawable/phonk_icon"
            android:theme="@style/PhonkAppTheme"
            android:resizeableActivity="true">

            <intent-filter>
                <action android:name="io.phonk.intent.EXECUTE"></action>
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->

            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>

        <activity
            android:name="io.phonk.WelcomeActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="@string/welcome_activity_name" >
        </activity>
        <activity
            android:name="io.phonk.gui.settings.SettingsActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="@string/settings_activity_name" >
        </activity>
        <activity
            android:name="io.phonk.gui.editor.EditorActivity"
            android:theme="@style/PhonkAppTheme"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/editor_activity_name" >
        </activity>
        <activity
            android:name="io.phonk.gui.LicenseActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="Licenses" >
        </activity>
        <activity
            android:name="io.phonk.gui.SchedulerActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="Scheduler" >
        </activity>
        <activity
            android:name="io.phonk.gui.HelpActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="Help" >
        </activity>
        <activity
            android:name="io.phonk.gui.AboutActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="About" >
        </activity>
        <activity
            android:name="io.phonk.gui.UpdateActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="PHONK Update" >
        </activity>
        <activity
            android:name="io.phonk.gui.InfoScriptActivity"
            android:theme="@style/PhonkAppTheme"
            android:label="InfoScript" >
        </activity>

        <activity android:name="io.phonk.gui.PhonkAppInstallerActivity"
            android:label="@string/activity_name"
            android:theme="@style/PhonkAppTheme"
            android:logo="@drawable/phonk_icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="io.phonk.gui.PhonkAppInstallerActivity" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.proto" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <service
            android:name="io.phonk.server.PhonkServerService"
            android:exported="false">

            <intent-filter>
                <action android:name="io.phonk.intent.CONSOLE"></action>
            </intent-filter>

            <intent-filter>
                <action android:name="io.phonk.intent.WEBEDITOR_SEND"></action>
            </intent-filter>

            <!-- intent when apprunner is closed -->
            <intent-filter>
                <action android:name="io.phonk.intent.CLOSED"></action>
            </intent-filter>

            <!-- intent to close the runner -->
            <intent-filter>
                <action android:name="io.phonk.intent.VIEWS_UPDATE"></action>
            </intent-filter>
        </service>

        <receiver android:name="io.phonk.server.PhonkBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.phonk.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />

        </provider>
        -->

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
