* {
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
 * WEBKIT SCROLLBARS
 */

.scrollbar {
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.1);
  scrollbar-width: thin;
  // scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}


.placeHolder {
  color: @accentColor_1;
  font-family: 'Roboto Mono';
  font-size: 1rem;
}

/* do not group these rules */
*::-webinput-placeholder {
  .placeHolder;
}
*::-moz-placeholder {
  /* FF 19+ */
  .placeHolder;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  .placeHolder;
}

/*
 * Remove the border after clicking on button
 */
button {
  outline: none;
}

button::-moz-focus-inner {
   border: 0;
}
